{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  {% include 'preloader.html' %}

  {% include 'navbar.html' %}

  {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Product</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Product</a></li>
              <li class="breadcrumb-item active">Edit</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible">
                  {% else %}
                    <div class="alert alert-danger alert-dismissible">
                  {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-check"></i> Alert!</h5>
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="card card-info">

              <div class="card-header">
                <h3 class="card-title">Form Add</h3>
              </div>
              <!-- /.card-header -->


              
              <!-- form start -->
              <form action="{% url 'product:edit' product.product_id %}" method="post" enctype="multipart/form-data">

                <div class="card-body">
                  {% csrf_token %}

                  {% for field in form %}
                  <div class="form-group row">
                    <label for="_name_" class="col-sm-3 col-form-label" style="text-align: right;">{{ field.label_tag }}</label>
                    <div class="col-sm-6">
                      {{ field }}
                      {{ field.errors }}
                      {{ field.help_text }}
                    </div>
                  </div>
                  {% endfor %}

                </div>

                <!-- /.card-body -->
                <div class="card-footer">
                  <div class="form-group row">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                      <a href="{% url 'product:index' %}">
                        <button type="button" class="btn btn-warning">Cancel</button>
                      </a>
                      <button type="reset" class="btn btn-info" id="_reset_">Reset</button>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </div>
                <!-- /.card-footer -->
              
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {% include 'footer.html' %}

</div>
<!-- ./wrapper -->

{% include 'javascript.html' %}
</body>
</html>
